<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/admin/add-event" class="btn btn-primary">Add Event</a>
            </div>
            <div class="col">
                <a href="/admin/add-salary" class="btn btn-success">Add Salary</a>
            </div>
            <div class="col">
                <a href="/admin/" class="btn btn-primary">View Event</a>
            </div>
            <div class="col">
                <a href="/admin/withdraw" class="btn btn-danger ml-auto">Withdraw Salary</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Event_name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Withdraw</th>
                        <th scope="col">Fine</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each salary}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{this.mobile}}</td>
                        <td>{{this.Event}}</td>
                        <td>{{this.Date}}</td>
                        <td>{{this.Salary}}</td>
                        <td>{{this.Withdraw}}</td>
                        <td>{{this.Fine}}</td>
                        <td>
                            <a href="/admin/edit-salary/{{this._id}}" class="btn btn-primary">Edit</a>
                            <a href="/admin/delete-salary/{{this._id}}" class="btn btn-danger"
                                onclick="return confirm('Are you sure to delete {{this.Name}}')">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</section>