<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Growork</title>
    <meta name="description" content="Growork HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/192x192.png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="manifest" href="__manifest.json">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">
            Transactions
        </div>
        <div class="right">
            <a href="/app-booking" class="headerButton">
                <ion-icon name="bag-remove-outline"></ion-icon>
                <span class="badge badge-success">{{cartCount}}</span>
            </a>
        </div>
    </div>
    <!-- * App Header -->


    <!-- App Capsule -->
    <div id="appCapsule">

        <!-- Transactions -->
        {{#each income}}
        <div class="section mt-2">
            <div class="section-title">{{this.Date}}</div>
            <div class="transactions">
                <!-- item -->
                <a href="app-transaction-detail.html" class="item">
                    <div class="detail">
                        <img src="assets/img/sample/brand/1.jpg" alt="img" class="image-block imaged w48">
                        {{#if Event}}
                        <div>
                            <strong>Event is {{this.Event}}</strong>
                            <p>Fine {{this.Fine}}</p>
                        </div>
                        {{else}}
                        <div>
                            <strong>Withdraw</strong>
                            <p>Amount</p>
                        </div>
                        {{/if}}
                    </div>
                    {{#if Event}}
                    <div class="right">
                        <div class="price text-success"> +₹ {{this.Salary}}</div>
                    </div>
                    {{else}}
                    <div class="right">
                        <div class="price text-danger"> -₹ {{this.Withdraw}}</div>
                    </div>
                    {{/if}}
                </a>
                <!-- * item -->
            </div>
        </div>
        {{/each}}
        <!-- * Transactions -->



        <div class="section mt-2 mb-2">
            <a href="#" class="btn btn-primary btn-block btn-lg">Load More</a>
        </div>


    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="/" class="item">
            <div class="col">
                <ion-icon name="pie-chart-outline"></ion-icon>
                <strong>Overview</strong>
            </div>
        </a>
        <a href="/app-transactions" class="item active">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>Transaction</strong>
            </div>
        </a>
        <a href="/app-booking" class="item">
            <div class="col">
                <ion-icon name="apps-outline"></ion-icon>
                <strong>My Bookings</strong>
            </div>
        </a>
        <a href="/app-cards" class="item">
            <div class="col">
                <ion-icon name="card-outline"></ion-icon>
                <strong>Events</strong>
            </div>
        </a>
        <a href="/app-settings" class="item ">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>Settings</strong>
            </div>
        </a>
    </div>
    <!-- * App Bottom Menu -->


    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>


</body>

</html>